﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="ReApertura, App_Web_s7mhs2vz" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>

<%@ Register src="controles/cuwReApertura.ascx" tagname="cuwReApertura" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:cuwReApertura ID="cuwReApertura1" runat="server" />
</asp:Content>

