<%@ control language="vb" autoeventwireup="false" inherits="CUWHeader, App_Web_-k9o9ujq" %>
<TABLE id="Table1" style="BACKGROUND-IMAGE: url('imagenes/header.gif'); WIDTH: 883px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 144px"
	cellSpacing="0" cellPadding="0" border="0">
	<TR>
		<TD style="HEIGHT: 143px"></TD>
	</TR>
</TABLE>
