<%@ control language="vb" autoeventwireup="false" inherits="cuwIntro1, App_Web_-k9o9ujq" %>
<p>
    <asp:image id="Image1" Width="241px" ImageUrl="~/imagenes/Logo_MFAMIGA.png" 
        runat="server" Height="134px"></asp:image>
</p>

