<%@ control language="vb" autoeventwireup="false" inherits="Encabezado, App_Web_jucmqome" %>
<TABLE id="Table2" cellSpacing="0" cellPadding="0" width="100%" border="0">
	<TR>
		<TD style="WIDTH: 3px"></TD>
		<TD align="center" bgColor="#0099ff">
			<asp:Image id="Image1" runat="server" ImageUrl="../imagenes/banner1.gif"></asp:Image></TD>
	</TR>
</TABLE>
<TABLE id="Table3" cellSpacing="0" cellPadding="0" width="100%" border="0">
	<TR>
		<TD style="WIDTH: 2px" align="center"></TD>
		<TD align="center" style="FONT-SIZE: 18pt;COLOR: #ffff66;FONT-FAMILY: 'Bradley Hand ITC', 'Century Gothic'"></TD>
	</TR>
</TABLE>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
</TABLE>
